body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    height: 50%;
    margin: 123px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.text{
    position: relative;
    left: -81px;
    bottom: -92px;
}
h3{
    position: relative;
    flex: 1;
    padding: 60px;
}
.flexbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 182px;
    padding: 44px;
}
.box1{
    background-color: tomato;
    padding: 20px;
    height: 70px;
    border-radius: 15px;
}
.box2{
    background-color: tomato;
    padding: 20px;
    height: 70px;
    border-radius: 15px;
}
.box3{
    background-color: tomato;
    padding: 20px;
    height: 70px;
    border-radius: 15px;
}
.box4{
    background-color: tomato;
    padding: 20px;
    height: 70px;
    border-radius: 15px;
}
button{
    border-radius: 15px;
    border: none;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}